@model FreeMarket.Models.RegisterBase

<div class="form-group">
    @Html.LabelFor(m => m.Name, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.PrimaryPhoneNumber, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.PrimaryPhoneNumber, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ConfirmPrimaryPhoneNumber, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.ConfirmPrimaryPhoneNumber, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.SecondaryPhoneNumber, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.SecondaryPhoneNumber, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.PreferredCommunicationMethod, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.DropDownListFor(model => model.PreferredCommunicationMethod, Model.CommunicationOptions, "Choose", new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.AddressName, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.DropDownListFor(model => model.AddressName, Model.AdressNameOptions, "Choose", new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.AddressLine1, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.AddressLine1, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.AddressLine2, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.AddressLine2, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.AddressLine3, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.AddressLine3, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.AddressLine4, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.AddressLine4, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.AddressSuburb, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.AddressSuburb, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.AddressCity, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.AddressCity, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.AddressPostalCode, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.AddressPostalCode, new { @class = "form-control" })
    </div>
</div>


