@model FreeMarket.Models.ChangeEmailViewModel

@{
    ViewBag.Title = "Change Email";
}

<br />
<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container center_div well well-modal">
    @using (Html.BeginForm("ChangeEmail", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>New Email Address:</h4>
        
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.ConfirmedEmail)
        <div class="form-group">
            @Html.LabelFor(m => m.UnConfirmedEmail, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.UnConfirmedEmail, new { @class = "form-control" })
            </div>
        </div>

        <hr />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Email Link" />
                @Html.ActionLink("Back", "Index", "Manage", new { @class = "btn btn-primary" })
            </div>
        </div>
    }
</div>
