@using FreeMarket.Models
@model WelcomeViewModel

@{
    ViewBag.Title = "Pecan Nuts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="parent" class="center_div container">
    <div class="row">
        <h1 class="text-center">Welcome</h1>
        <hr />
    </div>
    <div class="row">
        @Html.Partial("_ProductCarousel")
    </div>
    <div class="row well">

        @Html.Raw(Model.WelcomeText)
        
    </div>
    <div class="row well text-center">

        We offer the following payment options:
        <img src="~/Content/Images/PayGate-Card-Brand-Logos-Small.png" />

    </div>
    <div class="row well text-center">
        <a href="@Url.Action("TermsAndConditions", "Home")" data-id="@Url.Action("TermsAndConditionsModal", "Home")"
           class="conditionClass freemarket-link"><span class="glyphicon glyphicon-paperclip" aria-hidden="true">&nbsp; Click here to read our terms and conditions.</span></a>
    </div>
    <div class="row text-center">
        <a class="btn btn-success" href="@Url.Action("Index", "Product")"><span class="glyphicon glyphicon-shopping-cart">&nbsp;&nbsp;Start Shopping!</span></a>
    </div>
    <div class="row">
        &nbsp;
    </div>
    <div class="text-center">
        <table class="table table-bordered-custom table-responsive">
            <tr>
                <td>
                    <div class="row">
                        <a class="btn btn-primary" href="@Url.Action("Cart", "ShoppingCart")"><span class="glyphicon glyphicon-shopping-cart">&nbsp;&nbsp;View your shopping cart...</span></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="row">
                        <a class="btn btn-primary" href="@Url.Action("DeliveryOptionsInfo", "Home")"><span class="glyphicon glyphicon-cog">&nbsp;&nbsp;Learn about our delivery options...</span></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="row">
                        <a class="btn btn-primary" href="@Url.Action("About", "Home")"><span class="glyphicon glyphicon-book">&nbsp;&nbsp;Learn more about us...</span></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="row">
                        <a class="btn btn-primary" href="@Url.Action("Contact", "Home")"><span class="glyphicon glyphicon-pencil">&nbsp;&nbsp;Contact us...</span></a>
                    </div>
                </td>
            </tr>
        </table>

    </div>
    
</div>

@Html.Partial("_TermsAndConditionsContainer")

<script type="text/javascript">

$(document).ready(function(){

     $("#myCarousel").carousel({

         interval : 5000

     });

});

</script>