
@{
    ViewBag.Title = "Pecan Nuts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="parent" class="center_div container">
    <div class="row">
        <h1 class="text-center">Welcome</h1>
        <hr />
    </div>
    <div class="row">
        @Html.Partial("_ProductCarousel")
    </div>
    <div class="row well">
        Welcome to Schoombee And Son.
            
        We specialize in premium Pecan nuts, straight from South Africa's most well respected
        farms. On this website you can purchase nuts which we will either deliver to
        your door by courier or which you can collect at your local post office.

        We deliver in South Africa only and we will refund you in full if you are not
        satisfied with your purchase. For more information see our terms and conditions.
    </div>
    <div class="row well text-center">
        <a data-id="@Url.Action("TermsAndConditionsModal", "Home")"
           class="conditionClass freemarket-link"><span class="glyphicon glyphicon-paperclip" aria-hidden="true">&nbsp; Click here to read our terms and conditions.</span></a>
    </div>
    <div class="center_div text-center">
        <div class="row">
            <a class="btn btn-success" href="@Url.Action("Index", "Product")"><span class="glyphicon glyphicon-shopping-cart">&nbsp;&nbsp;Start Shopping!</span></a>
        </div>
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <a class="btn btn-primary" href="@Url.Action("DeliveryOptionsInfo", "Home")"><span class="glyphicon glyphicon-piggy-bank">&nbsp;&nbsp;Learn about our delivery options...</span></a>
        </div>
        <div class="row">
            <a class="btn btn-primary" href="@Url.Action("About", "Home")"><span class="glyphicon glyphicon-book">&nbsp;&nbsp;Learn more about us...</span></a>
        </div>
        <div class="row">
            <a class="btn btn-primary" href="@Url.Action("Contact", "Home")"><span class="glyphicon glyphicon-pencil">&nbsp;&nbsp;Contact us...</span></a>
        </div>
    </div>
    
</div>

@Html.Partial("_TermsAndConditionsContainer")

<script type="text/javascript">

$(document).ready(function(){

     $("#myCarousel").carousel({

         interval : 5000

     });

});

$(document).ready(function () {
    $(".icon-input-btn").each(function () {
        var btnFont = $(this).find(".btn").css("font-size");
        var btnColor = $(this).find(".btn").css("color");
        $(this).find(".glyphicon").css("font-size", btnFont);
        $(this).find(".glyphicon").css("color", btnColor);
        if ($(this).find(".btn-xs").length) {
            $(this).find(".glyphicon").css("top", "24%");
        }
    });
});

</script>