@model FreeMarket.Models.RatingsInfo

<div class="text-center">
    <h2>New Ratings</h2>
</div>

<table class="table table-bordered-custom table-responsive">
    @if (Model != null && Model.ProductRatings.Count > 0)
    {
        for (int i = 0; i < Model.ProductRatings.Count; i++)
        {
            using (Html.BeginForm("ApproveReview", "Admin", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                string formattedDate = Model.ProductRatings[i].Date.HasValue
                ? Model.ProductRatings[i].Date.Value.ToLongDateString()
                : "<not available>";
                <tr>
                    <td>
                        <div>
                            @Html.Hidden("ReviewId", Model.ProductRatings[i].ReviewId)
                            @Html.Hidden("CourierReviewId", Model.ProductRatings[i].CourierReviewId)

                            @formattedDate
                        </div>
                        <div>
                            Order @Model.ProductRatings[i].OrderNumber
                        </div>
                        <div>
                            @Model.ProductRatings[i].Author
                        </div>
                        <div>
                            @Model.ProductRatings[i].ProductName
                        </div>
                        <div>
                            @Model.ProductRatings[i].SupplierName
                        </div>
                    </td>
                    <td class="text-center">
                        <label class="control-label text-info">Quality Rating</label>
                        <input id="@Model.ProductRatings[i].ReviewId" name="input-id" value="@Model.ProductRatings[i].StarRating" data-min="0" data-max="3" class="ratingDisplay rating-loading" data-show-caption="true" data-size="xs">
                        @if (Model.ProductRatings[i].StarRating == 1)
                        {
                            <span class="btn btn-danger">Substandard</span>
                        }
                        else if (Model.ProductRatings[i].StarRating == 2)
                        {
                            <span class="btn btn-warning">Good</span>
                        }
                        else if (Model.ProductRatings[i].StarRating == 3)
                        {
                            <span class="btn btn-success">Excellent</span>
                        }
                    </td>
                    <td class="text-center">
                        <div>
                            <label class="control-label text-info">Price Rating</label>
                        </div>
                        <span>@Model.ProductRatings[i].Quantity unit(s) @@ @string.Format("{0:C}", Model.ProductRatings[i].Price)</span>
                        <input name="input-id" value="@Model.ProductRatings[i].PriceRating" data-min="0" data-max="3" class="ratingDisplay rating-loading" data-show-caption="true" data-size="xs">
                        @if (Model.ProductRatings[i].PriceRating == 1)
                        {
                            <span class="btn btn-danger">Expensive</span>
                        }
                        else if (Model.ProductRatings[i].PriceRating == 2)
                        {
                            <span class="btn btn-warning">Just Right</span>
                        }
                        else if (Model.ProductRatings[i].PriceRating == 3)
                        {
                            <span class="btn btn-success">Bargain</span>
                        }
                    </td>
                    <td class="text-center">
                        <div>
                            <label class="control-label text-info">Courier Rating</label>
                        </div>
                        @if (Model.ProductRatings[i].CourierRating == 0)
                        {
                            <span>No Rating</span>
                        }
                        else
                        {
                            <span>@Model.ProductRatings[i].CourierName</span>
                            <input name="input-id" value="@Model.ProductRatings[i].CourierRating" data-min="0" data-max="3" class="ratingDisplay rating-loading" data-show-caption="true" data-size="xs">

                            if (Model.ProductRatings[i].CourierRating == 1)
                            {
                                <span class="btn btn-danger">Poor</span>
                            }
                            else if (Model.ProductRatings[i].CourierRating == 2)
                            {
                                <span class="btn btn-warning">Good</span>
                            }
                            else if (Model.ProductRatings[i].CourierRating == 3)
                            {
                                <span class="btn btn-success">Excellent</span>
                            }
                        }

                    </td>

                </tr>

                <tr>
                    <td colspan="4"><div class="text-info">Product Review:</div><span style="white-space :pre-line" class="text-right">@Model.ProductRatings[i].ReviewContent </span></td>
                </tr>

                if (Model.ProductRatings[i].CourierName == null)
                {

                }
                else
                {
                    <tr>
                        <td colspan="4"><div class="text-info">Courier Review:</div><span style="white-space :pre-line" class="text-right">@Model.ProductRatings[i].CourierReviewContent </span></td>
                    </tr>
                }

                <tr>
                    <td colspan="4">
                        <input type="submit" value="Approve" name="button" class="btn btn-success btn-sm" />
                        <input type="submit" value="Revoke" name="button" class="btn btn-danger btn-sm" />
                    </td>
                </tr>
            }
        }
    }
    else
    {
        <text>There are no new ratings to approve at the moment.</text>
    }
</table>
