@using FreeMarket.Models
@model ExternalWebsite

<div class="form-group">
    @Html.LabelFor(m => m.Name, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.HiddenFor(m => m.LinkId)
        @Html.HiddenFor(m => m.DateAdded)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Url, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.Url, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Department, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.DropDownListFor(model => model.SelectedDepartment, Model.Departments, "Choose", new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Description, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.DateAdded, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.DisplayFor(m => m.DateAdded, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Activated, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.EditorFor(m => m.Activated)
    </div>
</div>

<hr />

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="col-sm-6">
                <div class="form-group">
                    <div style="position:relative;">
                        <label>Image Medium (336 x 280)</label>
                        <a class='btn btn-primary' href='javascript:;'>
                            Choose...
                            <input type="file" name="imagePrimary" size="40"
                                   style="position:absolute;z-index:2;top:0;
                                left:0;filter: alpha(opacity=0); opacity:0;
                                background-color:transparent;color:transparent;"
                                   onchange="readURLPrimary(this);">
                        </a>
                        <div class="col-sm-12">
                            <img id="imagePrimaryPreview" class="img-thumbnail" src="@Url.Action("RenderExternalWebsiteImage", "Image", new { id = Model.MainImageNumber })" alt="Free Market" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="col-sm-6">
                <div class="form-group">
                    <div style="position:relative;">
                        <label>Image Extra (336 x 280)</label>
                        <a class='btn btn-primary' href='javascript:;'>
                            Choose...
                            <input type="file" name="imageAdditional" size="40"
                                   style="position:absolute;z-index:2;top:0;
                                left:0;filter: alpha(opacity=0); opacity:0;
                                background-color:transparent;color:transparent;"
                                   onchange="readURLAdditional(this);">
                        </a>
                        <div class="col-sm-12">
                            <img id="imageAdditionalPreview" class="img-thumbnail" src="@Url.Action("RenderExternalWebsiteImage", "Image", new { id = Model.AdditionalImageNumber })" alt="Free Market" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>



