@using FreeMarket.Models
@model Product

<div class="form-group">
    @Html.LabelFor(m => m.Description, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        @Html.HiddenFor(m => m.ProductNumber)
        @Html.HiddenFor(m => m.DepartmentNumber)
        @Html.HiddenFor(m => m.SupplierNumber)
        @Html.HiddenFor(m => m.DateAdded)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.LongDescription, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.TextAreaFor(m => m.LongDescription, new { @class = "form-control" })
    </div>
</div>

@if (Model.Suppliers == null || Model.Suppliers.Count == 0)
{
    <div class="form-group">
        @Html.LabelFor(m => m.DepartmentName, new { @class = "col-md-4 control-label" })
        <div class="col-md-6">
            @Html.DropDownListFor(model => model.SelectedDepartment, Model.Departments, new { @class = "form-control" })
        </div>
    </div>
}
else
{
    <div class="form-group">
        @Html.LabelFor(m => m.DepartmentName, new { @class = "col-md-4 control-label" })
        <div class="col-md-6">
            @Html.DropDownListFor(model => model.SelectedDepartment, Model.Departments, "Choose", new { @class = "form-control" })
        </div>
    </div>
}

@if (Model.Suppliers == null || Model.Suppliers.Count == 0)
{
    <div class="form-group">
        @Html.LabelFor(m => m.SupplierName, new { @class = "col-md-4 control-label" })
        <div class="col-md-6">
            @Html.DisplayFor(m => m.SupplierName, new { @class = "form-control" })
            @Html.HiddenFor(m => m.SupplierName)
        </div>
    </div>
}
else
{
    <div class="form-group">
        @Html.LabelFor(m => m.SupplierName, new { @class = "col-md-4 control-label" })
        <div class="col-md-6">
            @Html.DropDownListFor(model => model.SelectedSupplier, Model.Suppliers, "Choose", new { @class = "form-control" })
        </div>
    </div>
}

<div class="form-group">
    @Html.LabelFor(m => m.PricePerUnit, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @{ Html.EnableClientValidation(false); }
        @Html.EditorFor(m => m.PricePerUnit, new { htmlAttributes = new { @class = "form-control" } })
        @{ Html.EnableClientValidation(true); }
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.SpecialPricePerUnit, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @{ Html.EnableClientValidation(false); }
        @Html.EditorFor(m => m.SpecialPricePerUnit, new { htmlAttributes = new { @class = "form-control" } })
        @{ Html.EnableClientValidation(true); }
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Weight, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @{ Html.EnableClientValidation(false); }
        @Html.EditorFor(m => m.Weight, new { htmlAttributes = new { @class = "form-control" } })
        @{ Html.EnableClientValidation(true); }
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Size, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.Size, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.DateAdded, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.DisplayFor(m => m.DateAdded, new { @class = "form-control" })
    </div>
</div>

@if (Model.DateModified != null && Model.DateModified != DateTime.MinValue)
{
    <div class="form-group">
        @Html.LabelFor(m => m.DateModified, new { @class = "col-md-4 control-label" })
        <div class="col-md-6">
            @Html.DisplayFor(m => m.DateModified, new { @class = "form-control" })
            @Html.HiddenFor(m => m.DateModified)
        </div>
    </div>
}

<div class="form-group">
    @Html.LabelFor(m => m.Activated, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.EditorFor(m => m.Activated)
    </div>
</div>

<hr />

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="col-sm-6">
                <div class="form-group">
                    <div style="position:relative;">
                        <label>Image Medium (256 x 192)</label>
                        <a class='btn' href='javascript:;'>
                            Choose...
                            <input type="file" name="imagePrimary" size="40"
                                   style="position:absolute;z-index:2;top:0;
                                left:0;filter: alpha(opacity=0); opacity:0;
                                background-color:transparent;color:transparent;"
                                   onchange="readURLPrimary(this);">
                        </a>
                        <div class="col-sm-12">
                            <img id="imagePrimaryPreview" class="img-thumbnail" src="@Url.Action("RenderImage", "Image", new { id = Model.MainImageNumber })" alt="Free Market" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <div style="position:relative;">
                        <label>Image Small (80 x 79)</label>
                        <a class='btn' href='javascript:;'>
                            Choose...
                            <input type="file" name="imageSecondary" size="40"
                                   style="position:absolute;z-index:2;top:0;
                                left:0;filter: alpha(opacity=0); opacity:0;
                                background-color:transparent;color:transparent;"
                                   onchange="readURLSecondary(this);">
                        </a>
                        <div class="col-sm-12">
                            <img id="imageSecondaryPreview" class="img-thumbnail" src="@Url.Action("RenderImage", "Image", new { id = Model.SecondaryImageNumber, DefaultSize = PictureSize.Small })" alt="Free Market" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



