@using FreeMarket.Models
@model List<CashCustomer>

@if (Model != null && Model.Count > 0)
{

<table class="table table-bordered-custom table-responsive">

    <tr>
        <th>
            Edit
        </th>
        <th>
            #
        </th>
        <th>
            Name
        </th>
        <th>
            Phone
        </th>
        <th>
            Address
        </th>
        <th>
            Create Order
        </th>
    </tr>
    @foreach (CashCustomer result in Model)
    {
        <tr class="well">
            <td>
                @Html.ActionLink("Edit", "EditCashCustomer", "Admin", new { id = result.Id }, new { @class = "freemarket-link"})
            </td>
            <td>
                @result.Id
            </td>
            <td>
                @result.Name
            </td>
            <td>
                @result.PhoneNumber
            </td>
            <td>
                @result.DeliveryAddress
            </td>
            <td>
                @Html.ActionLink("Create Order", "CreateCashOrder", "Admin", new { id = result.Id }, new { @class = "btn btn-success" })
            </td>
        </tr>
    }
</table>

}
