@using FreeMarket.Models
@model List<AspNetUser>

@if (Model != null && Model.Count > 0)
{

<table class="table table-bordered-custom table-responsive">
    <tr>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
        <th>
            Phone 1
        </th>
        <th>
            Delivery Address
        </th>
        <th>
            Last Visited
        </th>
        <th>
            Order History
        </th>
        <th>
            Edit
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.PhoneNumber
            </td>
            <td>
                @Html.Action("GetAddress", "Admin", new { userId = item.Id, addressName = item.DefaultAddress })
            </td>
            <td>
                @item.LastVisited
            </td>
            <td>
                <span style="white-space:pre-line">@Html.ActionLink("History", "ViewOrderHistory", new { customerNumber = item.Id }, new { @class = "freemarket-link" })</span>
            </td>
            <td>
                @Html.ActionLink("Edit", "EditCustomer", new { customerNumber = item.Id }, new { @class = "freemarket-link" } )
            </td>
        </tr>
    }
</table>

}
else
{
    <div>
        <i>There are no customers which match your search criteria.</i>
    </div>
}