@using FreeMarket.Models
@model ControlPanelViewModel

<h2 class="text-center">Consumables</h2>

<div class="text-center">
    <table class="table table-bordered-custom table-responsive well-modal">
        <tr>
            <td>SMS Credits Remaining</td>
            <td>@Model.SMSCredits</td>
        </tr>
    </table>
</div>

<h2 class="text-center">Website Functions</h2>

@using (Html.BeginForm("EditWebsiteFunction", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <table class="table table-bordered-custom table-responsive well-modal">

        @if (Model.Functions != null && Model.Functions.Count != 0)
        {
            <tr>
                <th>
                    Function
                </th>
                <th>
                    Description
                </th>
                <th>
                    Activated
                </th>
            </tr>
            for (int i = 0; i < Model.Functions.Count; i++)
            {
                <tr>
                    <td class="text-center">
                        @Model.Functions[i].FunctionDescription
                        @Html.HiddenFor(c => Model.Functions[i].FunctionId)
                    </td>
                
                    <td class="text-center">@Model.Functions[i].Comment</td>
               
                    <td data-label="Activated:" class="text-center">@Html.EditorFor(c => Model.Functions[i].Activated)</td>
                </tr>
            }
        }

    </table>

    
        <div class="col-sm-offset-5">
            @if (Model != null && Model.Functions.Count > 0)
            {
                <input type="submit" value="Save/Update" class="btn btn-primary" />
                @Html.ActionLink("Back", "Index", "Admin", new { @class = "btn btn-success" })
            }
        </div>
    
}