@using FreeMarket.Models
@model Custodian
@{
    ViewBag.Title = "Create Custodian";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-center"><span class="glyphicon glyphicon-edit text-success"></span>&nbsp;Create Custodian</h2>
<hr />

<div id="parent" class="container center_div">

    @if (Model != null)
    {
        using (Html.BeginForm("CreateCustodianProcess", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "custodiansActivationForm" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="well well-modal">
                @Html.Partial("_CustodianActivationPartial", Model)

                <div class="form-group">
                    <div class="text-center">
                        <input type="submit" class="btn btn-info" value="Update" />
                        @Html.ActionLink("Back", "CustodianActivationIndex", "Admin", new { @class = "btn btn-success" })
                    </div>
                </div>
            </div>

            
        }
}

</div>

@Html.Partial("_ValidateCustodianActivationPartial")