@using FreeMarket.Models
@model List<ProductCustodian>
@{
    ViewBag.Title = "Stock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-center"><span class="glyphicon glyphicon-edit text-success"></span>&nbsp;Stock</h2>
<hr />

@if (Model.Count > 0)
{
    <table class="table table-bordered-custom table-responsive">

        <tr>
            <th class="col-sm-1">Stock</th>
            <th class="col-sm-1">Custodian Name</th>
            <th class="col-sm-1">Supplier</th>
            <th class="col-sm-1">Product</th>
            <th class="col-sm-1">Qty on Hand</th>
            <th class="col-sm-1">Stock Reserved</th>
            <th class="col-sm-1">Last Modified</th>
            <th class="col-sm-1">Last Modified Amount</th>
        </tr>

    @foreach (ProductCustodian item in Model)
    {
        <tr class="well">
            <td class="text-center">
                @Html.ActionLink("Manage Stock Level", "EditCustodian", new { custodianNumber = item.CustodianNumber, supplierNumber = item.SupplierNumber, productNumber = item.ProductNumber }, new { @class = "freemarket-link" })
            </td>
            <td class="text-center">
                @item.CustodianName
            </td>
            <td class="text-center">
                @item.SupplierName
            </td>
            <td class="text-center">
                @item.ProductName
            </td>
            <td class="text-center">
                @item.QuantityOnHand
            </td>
            <td class="text-center">
                (@item.StockReservedForOrders)
            </td>
            <td class="text-center">
                @string.Format("{0:d}", item.DateLastIncreasedBySupplier)
            </td>
            <td class="text-center">
                @item.AmountLastIncreasedBySupplier
            </td>
        </tr>
    }
            
    </table>

    <div class="text-center">
        @Html.ActionLink("Back", "Index", "Admin", new { @class = "btn btn-success" })
    </div>
}





