@using FreeMarket.Models
@model AspNetUserCustomer
@{
    ViewBag.Title = "Edit Customer";
}

<br />
<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div id="parent" class="container center_div well well-modal">
@if (Model != null)
{
    using (Html.BeginForm("EditCustomerProcess", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "customerForm" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.Partial("_CustomerPartial", Model)

        <hr />

        <div class="col-sm-offset-4">
            <input type="submit" value="Save/Update" class="btn btn-primary btn-sm" />
            @Html.ActionLink("Back", "Index", "Admin", new { @class = "btn btn-primary btn-sm" })
        </div>
    }
}
</div>

@Html.Partial("_ValidateCustomerPartial")
