@using FreeMarket.Models
@model Custodian
@{
    ViewBag.Title = "Edit Custodian";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-center"><span class="glyphicon glyphicon-edit text-success"></span>&nbsp;Edit Custodian</h2>
<hr />

<div id="parent" class="container well well-modal center_div">

    @if (Model != null)
    {
        using (Html.BeginForm("EditCustodianActivationProcess", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "custodiansActivationForm" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div>
                @Html.Partial("_CustodianActivationPartial", Model)
            </div>

            <hr />

            <div class="form-group">
                <div class="text-center">
                    <input type="submit" class="btn btn-success" value="Update" />

                    @Html.ActionLink("Back", "CustodianActivationIndex", null, new { @class = "btn btn-info" })
                </div>
            </div>
        }
    }

</div>

@Html.Partial("_ValidateCustodianActivationPartial")