@using FreeMarket.Models
@model ProductCollection
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-center"><span class="glyphicon glyphicon-edit text-success"></span>&nbsp;Products</h2>
<hr />

@Html.ActionLink("Create New", "CreateProduct", null, new { @class = "freemarket-link" })

@if (Model.Products.Count > 0)
{
    <table class="table table-bordered-custom">

        <tr>
            <th class="col-sm-1"></th>
            <th class="col-sm-1">Product Number</th>
            <th class="col-sm-1">Image</th>
            <th class="col-sm-2">Description</th>
            <th class="col-sm-2">Weight</th>
            <th class="col-sm-2">Supplier</th>
            <th class="col-sm-2">Price Per Unit</th>
            <th class="col-sm-2">Active</th>
        </tr>

        @foreach (Product product in Model.Products)
        {
            <tr class="well">
                <td class="text-center">
                    @Html.ActionLink("Edit", "EditProduct", new { productNumber = product.ProductNumber, supplierNumber = product.SupplierNumber }, new { @class = "freemarket-link" })
                </td>
                <td>
                    @Html.DisplayFor(model => product.ProductNumber)
                </td>
                <td>
                    <img width="256" height="192" class="img-thumbnail" src="@Url.Action("RenderImage", "Image", new { id = product.MainImageNumber})" alt="@product.Description" title="@product.Description" />
                </td>
                <td>
                    @Html.DisplayFor(model => product.Description)
                </td>
                <td>
                    @Html.DisplayFor(model => product.Weight)
                </td>
                <td>
                    @Html.DisplayFor(model => product.SupplierName)
                </td>
                <td>
                    @String.Format("{0:C}", product.PricePerUnit)
                </td>
                <td>
                    @product.Activated
                </td>
            </tr>
        }

    </table>

    <div class="text-center">
        @Html.ActionLink("Back", "Index", "Admin", new { @class = "btn btn-success" })
    </div>
}





