@using FreeMarket.Models
@model List<SiteConfiguration>
@{
    ViewBag.Title = "Site Config";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-center"><span class="glyphicon glyphicon-edit text-success"></span>&nbsp;Site Config</h2>
<hr />

@if (Model != null && Model.Count > 0)
{
    <table class="table table-condensed table-bordered-custom">

        <tr>
            <th class="col-xs-1"></th>
            <th class="col-xs-1">ID</th>
            <th class="col-xs-1">Key</th>
            <th class="col-xs-1">Value</th>
        </tr>

    @foreach (SiteConfiguration config in Model)
    {
        <tr class="well">
            <td class="text-center">
                @Html.ActionLink("Edit", "EditSiteConfig", new { siteConfigNumber = config.SiteConfigurationNumber }, new { @class = "freemarket-link" })
            </td>
            <td>
                @Html.DisplayFor(model => config.SiteConfigurationNumber)
            </td>
            <td>
                @Html.DisplayFor(model => config.Key)
            </td>
            <td style="word-wrap: break-word;min-width: 380px;max-width: 380px;">
                @Html.DisplayFor(model => config.Value)
            </td>
        </tr>
    }
            
    </table>

    <div class="text-center">
        @Html.ActionLink("Back", "Index", "Admin", new { @class = "btn btn-success" })
    </div>
}





