@using FreeMarket.Models
@model SpecialsViewModel
@{
    ViewBag.Title = "Specials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-center"><span class="glyphicon glyphicon-edit text-success"></span>&nbsp;Specials</h2>
<hr />

<div>
    <h4>The postal codes in this table will receive a discount on their delivery fee and also have a special price defined in the product table.</h4>
</div>

<br />

@Html.ActionLink("Create New", "CreateSpecial", null, new { @class = "freemarket-link" })

@if (Model.Specials.Count > 0)
{
    <table class="table table-bordered-custom table-responsive">

        <tr>
            <th class="col-sm-1">Edit</th>
            <th class="col-sm-1">Postal Code Start Range</th>
            <th class="col-sm-1">Postal Code End Range</th>
            <th class="col-sm-1">Delivery Fee</th>
            <th class="col-sm-1">Active</th>
            <th class="col-sm-1">Date Added</th>
            <th class="col-sm-1">Date Modified</th>
        </tr>

    @foreach (Special item in Model.Specials)
    {
        <tr class="well">
            <td class="text-center">
                @Html.ActionLink("Edit", "EditSpecial", new { specialID = item.SpecialID }, new { @class = "freemarket-link" })
            </td>
            <td>
                @Html.DisplayFor(model => item.SpecialPostalCodeRangeStart)
            </td>
            <td>
                @Html.DisplayFor(model => item.SpecialPostalCodeRangeEnd)
            </td>
            <td>
                @Html.DisplayFor(model => item.DeliveryFee)
            </td>
            <td>
                @item.Active
            </td>
            <td>
                @Html.DisplayFor(model => item.DateAdded)
            </td>
            <td>
                @Html.DisplayFor(model => item.DateModified)
            </td>
        </tr>
    }
            
    </table>
}





