@using FreeMarket.Models
@model List<TimeFreightCourierFeeReference>
@{
    ViewBag.Title = "Time Freight";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-center"><span class="glyphicon glyphicon-edit text-success"></span>&nbsp;Time Freight</h2>
<hr />

@*@Html.ActionLink("Create New", "CreateCourier", null, new { @class = "freemarket-link" })*@

@if (Model.Count > 0)
{
    <table class="table table-bordered-custom table-responsive">

        <tr class="well well-modal">
            <th class="col-sm-1">Edit</th>
            <th class="col-sm-1">Code</th>
            <th class="col-sm-2">Main Centre</th>
            <th class="col-sm-2">Dialing Code</th>
            <th class="col-sm-2">Postal Code Start Range</th>
            <th class="col-sm-2">Postal Code End Range  </th>
            <th class="col-sm-2">Weight Start Range</th>
            <th class="col-sm-2">Weight End Range  </th>
            <th class="col-sm-2">Delivery Fee</th>
        </tr>

    @foreach (TimeFreightCourierFeeReference item in Model)
    {
        <tr class="well">
            <td class="text-center">
                @Html.ActionLink("Edit", "TimeFreightPrices", new { deliveryCostID = item.DeliveryCostID }, new { @class = "freemarket-link" })
            </td>
            <td>
                @Html.DisplayFor(model => item.Code)
            </td>
            <td>
                @item.MainCentre
            </td>
            <td>
                @item.DialingCode
            </td>
            <td data-label="Postal Start:">
                @Html.DisplayFor(model => item.PostalCodeRangeStart)
            </td>
            <td data-label="Postal End:">
                @Html.DisplayFor(model => item.PostalCodeRangeEnd)
            </td>
            <td data-label="Weight Start:">
                @Html.DisplayFor(model => item.WeightStartRange)
            </td>
            <td data-label="Weight End:">
                @Html.DisplayFor(model => item.WeightEndRange)
            </td>
            <td data-label="Fee:">
                @string.Format("{0:C}", item.DeliveryFee)
            </td>
        </tr>
    }
            
    </table>
}





