@model FreeMarket.Models.ShoppingCartViewModel

<div class="col-md-12 well">
    <div class="col-md-9">
        @if (User.Identity.IsAuthenticated)
        {
            if (Model.Cart.Order.OrderStatus != "Locked")
            {
                <input type="submit" value="Save/Update" class="btn btn-primary btn-sm" />
            }
            <a class="btn btn-primary btn-sm" href="@Model.ReturnUrl"><span class="glyphicon glyphicon-shopping-cart">&nbsp;&nbsp;Continue Shopping</span></a>
            <a class="btn btn-success btn-sm" href="@Url.Action("SecureDeliveryDetails", "ShoppingCart")"><span class="glyphicon glyphicon-lock">&nbsp;&nbsp;Secure Check Out</span></a>
            if (Model.Cart.Order.OrderStatus == "Locked")
            {
                <a class="btn btn-danger btn-sm" href="@Url.Action("CancelOrder", "ShoppingCart")"><span class="glyphicon glyphicon-remove">&nbsp;&nbsp;Cancel Order</span></a>
            }
        }
        else
        {
            <a class="btn btn-primary btn-sm" href="@Url.Action("Login", "Account", new { returnUrl = Url.Action("Cart", "ShoppingCart") })"><span class="glyphicon glyphicon-user"></span> &nbsp;&nbsp;Login to Proceed</a>
            <a class="btn btn-primary btn-sm" href="@Model.ReturnUrl"><span class="glyphicon glyphicon-shopping-cart">&nbsp;&nbsp;Continue Shopping</span></a>
        }
    </div>
</div>

<script type="text/javascript">

$(document).ready(function(){
    $(".icon-input-btn").each(function(){
        var btnFont = $(this).find(".btn").css("font-size");
        var btnColor = $(this).find(".btn").css("color");
        $(this).find(".glyphicon").css("font-size", btnFont);
        $(this).find(".glyphicon").css("color", btnColor);
        if($(this).find(".btn-xs").length){
            $(this).find(".glyphicon").css("top", "24%");
        }
    });
});

</script>