@using FreeMarket.Models
@model ShoppingCartViewModel

<table class="table table-bordered-custom table-condensed table-responsive">
    <tr class="well">
        <th class="col-sm-1">
            Remove
        </th>
        <th class="col-sm-1">
            Image
        </th>
        <th class="col-sm-4">
            Description
        </th>
        <th class="col-sm-1">
            Price
        </th>
        <th class="col-sm-1">
            Quantity
        </th>
        <th class="col-sm-1">
            Total
        </th>
    </tr>

    @for (int i = 0; i < Model.Cart.Body.OrderDetails.Count; i++)
    {
       <tr>
           <td>
               @Html.EditorFor(model => Model.Cart.Body.OrderDetails[i].Selected)
               @Html.HiddenFor(model => Model.Cart.Body.OrderDetails[i].ProductNumber)
               @Html.HiddenFor(model => Model.Cart.Body.OrderDetails[i].ItemNumber)
               @Html.HiddenFor(model => Model.Cart.Body.OrderDetails[i].SupplierNumber)
           </td>
           <td>
               <img src="@Url.Action("RenderImage", "Image", new { id = Model.Cart.Body.OrderDetails[i].MainImageNumber, defaultSize = PictureSize.Small })" />
           </td>
           <td>
               @Html.Action("GetDimensions", "ShoppingCart", new { productNumber = Model.Cart.Body.OrderDetails[i].ProductNumber })&nbsp;@Model.Cart.Body.OrderDetails[i].ProductDescription supplied by <span class="text-info">@Model.Cart.Body.OrderDetails[i].SupplierName</span>
               @Html.HiddenFor(model => Model.Cart.Body.OrderDetails[i].ProductDescription)
           </td>
           <td>
               @Html.DisplayFor(model => Model.Cart.Body.OrderDetails[i].Price)
           </td>
           <td>
               @Html.EditorFor(model => Model.Cart.Body.OrderDetails[i].Quantity, new { htmlAttributes = new { @style = "width: 75px", @class = "form-control" } })
               @Html.ValidationMessageFor(model => Model.Cart.Body.OrderDetails[i].Quantity, null, new {@class = "text-danger" })
           </td>
           <td>
               @Html.DisplayFor(model => Model.Cart.Body.OrderDetails[i].OrderItemValue)
           </td>
       </tr>
    }
</table>

