@using FreeMarket.Models
@model CourierFeeViewModel

@{
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "cartPartial",
        LoadingElementId = "loadingDiv"
    };
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title text-center" id="EditModalLabel">Choose a Courier for this Product</h4>
            
            @using (Ajax.BeginForm("AddToCart", "ShoppingCart", null, ajaxOpts, new { @id = "editForm" }))
            {
                @Html.AntiForgeryToken()

                <div class="modal-body">
                    <div class="form-horizontal">
                        <hr />

                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Quantity)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.SelectedAddress, new { @class = "col-md-4 control-label" })
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.SelectedAddress, Model.AddressNameOptions, new { @style = "width:225px", @class = "form-control-inline"})
                                <span id="addressText" class="glyphicon glyphicon-info-sign text-info" data-toggle="tooltip" data-placement="right" title="@Html.Action("GetAddress", "ShoppingCart", new { AddressNumber = Model.SelectedAddress })" aria-hidden="true"></span>
                                @Html.ValidationMessageFor(model => model.SelectedAddress)
                            </div>
                        </div>

                        <hr />

                        <div id="CourierContainer">
                            <table class="table table-bordered-custom text-center">
                                @if (Model.FeeInfo != null && Model.FeeInfo.Count > 0)
                                {
                                    <tr>
                                        <th class="col-sm-1 text-center">Courier Name</th>
                                        <th class="col-sm-1 text-center">Price</th>
                                        <th class="col-sm-1 text-center">Choose One</th>
                                    </tr>
                                    for (int i = 0; i < Model.FeeInfo.Count; i++)
                                    {
                                        <tr>
                                            <td>
                                                @if (Model.SelectedCourierNumber == Model.FeeInfo[i].CourierNumber)
                                                {
                                                    @Html.Label(@Model.FeeInfo[i].CourierName, new { @class = "text-success" })
                                                }
                                                else
                                                {
                                                    @Html.Label(@Model.FeeInfo[i].CourierName)
                                                }

                                                @Html.HiddenFor(c => Model.FeeInfo[i].CourierNumber)
                                            </td>
                                            <td>
                                                @if (Model.SelectedCourierNumber == Model.FeeInfo[i].CourierNumber)
                                                {
                                                    @Html.Label(@String.Format("{0:C}", Model.FeeInfo[i].CourierFeeValue), new { @class = "text-success" })
                                                }
                                                else
                                                {
                                                    @String.Format("{0:C}", Model.FeeInfo[i].CourierFeeValue)
                                                }
                                            </td>
                                            <td>
                                                @Html.RadioButtonFor(c => Model.SelectedCourierNumber, Model.FeeInfo[i].CourierNumber)
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    @Html.Label("Sorry, but we cannot deliver to that address.")
                                }

                            </table>
                        </div>

                        <div>
                            @Html.HiddenFor(model => Model.ProductNumber)
                            @Html.HiddenFor(model => Model.SupplierNumber)
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" onclick="editModal()">Save</button>
                    <button type="button" class="btn btn-link-disabled-color" data-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>

<script language="javascript" type="text/javascript">

    $("#SelectedAddress").change(function () {
        $.ajax({
            url: '@Url.Action("GetCourierData", "ShoppingCart")',
            type: 'GET',
            data: {
                id: @Model.ProductNumber,
                supplierNumber :@Model.SupplierNumber,
                quantity: $("#Quantity").val(),
                addressNumber: $("#SelectedAddress").val(),
            }
        }).done
            (function (data) {
                $('#CourierContainer').html(data);
            });

        $.ajax({
            url: '@Url.Action("GetAddress", "ShoppingCart")',
            type: 'GET',
            data: {
                AddressNumber: $('#SelectedAddress').val()
            }
        }).done
            (function (data) {
                $('#addressText').tooltip('hide')
                    .attr('data-original-title', data)
                    .tooltip('fixTitle');
            });
    });

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

</script>
