@using FreeMarket.Models
@model 

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="EditModalLabel">Edit</h4>
            @using (Ajax.BeginForm("EditView", "MMRollout", null, new AjaxOptions { UpdateTargetId = "newEntity" + Model.MMRolloutID }, new { @id = "editForm" }))
            {
                @Html.AntiForgeryToken()

                <div class="modal-body">
                    <div class="form-horizontal">

                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            @Html.LabelFor(model => model.PatchNo, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.PatchNo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.PatchNo)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MMRolloutDescription, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.MMRolloutDescription, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MMRolloutDescription)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.RolloutType, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.RolloutType, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.RolloutType)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MMRolloutKey, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.DropDownList("MMRolloutKey", (IEnumerable<SelectListItem>)ViewBag.RolloutKeyList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.MMRolloutKey)
                            </div>
                        </div>

                        @if (Model.RolloutType == "Product")
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.DropDownList("IsActive", (IEnumerable<SelectListItem>)ViewBag.isActiveList, new { @class = "form-control isActive" })
                                    @Html.ValidationMessageFor(model => model.IsActive)
                                </div>
                            </div>
                        }
                        else
                        {
                            @Html.HiddenFor(model => Model.IsActive)
                        }

                        <table class="table">

                            <tr>
                                <td class="col-md-3">
                                    <table class="table-bordered-light">
                                        <tr>
                                            <th class="col-md-1" colspan="2">Country</th>
                                        </tr>
                                        @foreach (KeyValuePair<Country, bool> c in Model.Linking.Countries)
                                        {
                                            <tr>
                                                <td>
                                                    <label>
                                                        <input class="group1" type="checkbox" name="countries[]" value="@c.Key.Country1" checked="@c.Value" /> @c.Key.Country1
                                                    </label>
                                                </td>
                                            </tr>
                                        }

                                    </table>
                                </td>
                                <td class="col-md-3">
                                    <table class="table-bordered-light">
                                        <tr>
                                            <th class="col-md-1" colspan="2">Brand</th>
                                        </tr>
                                        @foreach (KeyValuePair<Brand, bool> b in Model.Linking.Brands)
                                        {
                                            <tr>
                                                <td>
                                                    <label>
                                                        <input class="group2" type="checkbox" name="brands[]" value="@b.Key.BrandName.ToString()@b.Key.BrandID.ToString()" checked="@b.Value" /> @b.Key.BrandName
                                                    </label>
                                                </td>
                                            </tr>
                                        }

                                    </table>
                                </td>
                                <td class="col-md-3">
                                    <table class="table-bordered-light">
                                        <tr>
                                            <th class="col-md-1" colspan="2">Till Types</th>
                                        </tr>
                                        @foreach (KeyValuePair<BranchTillDescription, bool> t in Model.Linking.TillTypes)
                                        {
                                            <tr>
                                                <td>
                                                    <label>
                                                        <input class="group3" type="checkbox" name="tillTypes[]" value="@t.Key.TillDescription@t.Key.TillDescriptionCode" checked="@t.Value" /> @t.Key.TillDescription
                                                    </label>
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </td>
                            </tr>
                        </table>

                        <div class="col-md-1">
                            @Html.HiddenFor(model => model.MMRolloutID)
                            @Html.HiddenFor(model => model.RolloutType)
                            @Html.HiddenFor(model => model.Environment)
                            @Html.HiddenFor(model => model.MMRolloutKey)
                            @Html.HiddenFor(model => model.UserId)
                            @Html.HiddenFor(model => model.ChangeDateTime)
                            @Html.HiddenFor(model => model.BrandParameters)
                            @Html.HiddenFor(model => model.CountryParameters)
                            @Html.HiddenFor(model => model.MMReverseScript)
                            @Html.HiddenFor(model => model.MMRolloutScript)
                            @Html.HiddenFor(model => model.PatchNo)
                            @Html.HiddenFor(model => model.TillTypeParameters)
                        </div>

                        <div class="col-md-1">
                            @Html.HiddenFor(model => model.MMRolloutID)
                            @Html.HiddenFor(model => model.RolloutType)
                            @Html.HiddenFor(model => model.MMRolloutKey)
                            @Html.HiddenFor(model => model.Environment)
                            @Html.HiddenFor(model => model.UserId)
                            @Html.HiddenFor(model => model.ChangeDateTime)
                            @Html.HiddenFor(model => model.BrandParameters)
                            @Html.HiddenFor(model => model.CountryParameters)
                            @Html.HiddenFor(model => model.MMReverseScript)
                            @Html.HiddenFor(model => model.MMRolloutScript)
                            @Html.HiddenFor(model => model.PatchNo)
                            @Html.HiddenFor(model => model.TillTypeParameters)
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" onclick="editModal()">Save</button>
                    <button type="button" class="btn btn-link-disabled-color" data-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>

<script language="javascript" type="text/javascript">

    $(document).ready(function () {

        $('#IsActive').val('@Model.IsActive');

        if ($('#RolloutType').val() == "Product" || $('#RolloutType').val() == "CTKProduct") {
            $('.group2').attr('disabled', 'disabled');
            $('.group3').attr('disabled', 'disabled');
        }
        else {
            $('.group2').removeAttr('disabled');
            $('.group3').removeAttr('disabled');
        }

        $.getJSON('@Url.Action("GetKeysForRolloutType", "MMRollout")', { id: $('#RolloutType').val() }, function (response) {

            $('#MMRolloutKey').empty();

            $.each(response, function (key, value) {
                if (value.indexOf("@Model.MMRolloutKey") > -1)
                {
                    $('#MMRolloutKey')
                            .append($('<option>', { value: value })
                            .text(value)
                            .prop('selected', true));
                }
                else
                {
                    $('#MMRolloutKey')
                            .append($('<option>', { value: value })
                            .text(value));
                }
            });
        });
    });

</script>
