@using FreeMarket.Models
@model CourierFeeViewModel

@if (Model.FeeInfo != null && Model.FeeInfo.Count > 0)
{
    for (int i = 0; i < Model.FeeInfo.Count; i++)
    {
        if (Model.SelectedCourierNumber == Model.FeeInfo[i].CourierNumber)
        {
            string message1 = "";
            string message2 = "";
            string message3 = "";
            message1 = Model.FeeInfo[i].CourierName + " can deliver this item to your ";
            if (Model.FeeInfo[i].NoCharge)
            {
                message3 = "free.";
            }
            else
            {
                message3 = String.Format("{0:C}", Model.FeeInfo[i].CourierFeeValue);
            }
            message2 = "for " + message3;
            <strong>
                @message1
                <span class="btn-link" style="white-space :pre-line" data-toggle="tooltip" data-placement="bottom" title="@Html.Action("GetAddress", "ShoppingCart", new { AddressNumber = Model.SelectedAddress })" aria-hidden="true">default address</span>
                @message2
                <a id="addressEdit" href="@Url.Action("ModifyDeliveryDetails", "Manage", new { addressNumber = Model.SelectedAddress })"><span class="glyphicon glyphicon-edit text-success" data-toggle="tooltip" data-placement="right" title="Edit Address" aria-hidden="true"></span></a>
            </strong>
        }

        @Html.HiddenFor(c => Model.FeeInfo[i].CourierNumber)
        @Html.HiddenFor(model => Model.FeeInfo[i].CustodianNumber)
        @Html.HiddenFor(model => Model.FeeInfo[i].NoCharge)
    }
}
else
{
    @Html.Label("Sorry, but we do not currently deliver to that address.")
}



