@using FreeMarket.Models
@model CourierFeeViewModel

@{
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "cartPartial",
        LoadingElementId = "loadingDiv"
    };
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h2 class="modal-title text-center" id="EditModalLabel">@Model.ProductInstance.Description</h2>

            @using (Ajax.BeginForm("AddToCart", "ShoppingCart", null, ajaxOpts, new { @id = "editForm" }))
            {
                @Html.AntiForgeryToken()

                <div class="modal-body">
                    <div class="form-horizontal">
                        <hr />

                        @Html.ValidationSummary(true)

                        <table class="table">
                            <tr>
                                <th class="col-sm-6"></th>
                                <th class="col-sm-6"></th>
                            </tr>
                            <tr>
                                <td rowspan="4">
                                    <img class="img-thumbnail" src="@Url.Action("RenderImage", "Image", new { id = Model.ProductInstance.MainImageNumber, defaultSize = PictureSize.Large })" alt="@Model.ProductInstance.Description" title="@Model.ProductInstance.Description" />
                                </td>
                                <td>
                                    <span style="font-size:larger; font-weight:600">@String.Format("{0:C}", Model.ProductInstance.PricePerUnit)&nbsp;per&nbsp;@Html.Action("GetDimensions", "Product", new { productNumber = Model.ProductInstance.ProductNumber })</span>
                                </td>
                            </tr>
                            <tr>
                                <td>@Model.ProductInstance.SupplierName</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @style = "width:125px", @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Quantity)
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div id="CourierContainer">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            @Html.Partial("_CourierData", Model);
                                        }
                                        else
                                        {
                                            <text>Please login to view approximate courier costs.</text>
                                        }
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <div>
                            <i>@Model.ProductInstance.LongDescription</i>
                        </div>

                        <br />

                        <div>
                            <strong>Average Rating:</strong>
                            <input id="input-id" name="input-id" value="@Html.Action("GetAverageRating", "Product", new { productNumber = Model.ProductNumber, supplierNumber = Model.SupplierNumber })" data-min="0" data-max="5" class="rating-loading" data-show-caption="true" data-size="sm">
                            <a id="readReviews"><span class="glyphicon glyphicon-plus-sign text-success">Read Reviews</span></a> <a id="closeReviews"><span class="glyphicon glyphicon-minus-sign text-info">Close Reviews</span></a>
                        </div>

                        <div id="ReviewsContainer">
                            
                        </div>

                        <div>
                            @Html.HiddenFor(model => Model.ProductNumber)
                            @Html.HiddenFor(model => Model.SupplierNumber)
                            @Html.HiddenFor(model => Model.OrderNumber)
                            @Html.HiddenFor(model => Model.SelectedCourierNumber)
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" onclick="editModal()">Add to Cart</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>
            }
        </div>
    </div>
</div>

<script language="javascript" type="text/javascript">

    $('#input-id').rating({displayOnly: true, step: 0.1, clearCaption: 'Not yet rated'});

    @*$("#Quantity").change(function () {
        $.ajax({
            url: '@Url.Action("GetCourierData", "ShoppingCart")',
            type: 'GET',
            data: {
                id: @Model.ProductNumber,
                supplierNumber: @Model.SupplierNumber,
                @if (!Model.FromCart)
                {
                <text>
                quantity: $("#Quantity").val(),
                </text>
                }
                else
                {
                <text>
                quantity: @Model.Quantity,
                </text>
                }
                addressNumber: @Model.SelectedAddress,
                isAjax: true
            }
        }).done
            (function (data) {
                $('#CourierContainer').html(data);
            });
    });*@

    $("#readReviews").click(function () {
        $.ajax({
            url: '@Url.Action("GetReviews", "Product")',
            type: 'GET',
            data: {
                productNumber: @Model.ProductNumber,
                supplierNumber: @Model.SupplierNumber,
                size: @Model.ReviewPageSize,
            }
        }).done
            (function (data) {
                $('#ReviewsContainer').html(data).hide().fadeIn(2000);
            });
    });

    $("#closeReviews").click(function () {
        $('#ReviewsContainer').empty();
    });

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

</script>
