@using FreeMarket.Models
@model ConfirmOrderViewModel

@{
    ViewBag.Title = "Secure Checkout - Confirm Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-center"><span class="glyphicon glyphicon-lock"></span>@ViewBag.Title</h2>
<hr />

<div class="container text-center">

    <div class="row well well-modal">
        <div class="col-sm-6">
            <table class="table table-bordered-custom table-responsive" >
                <tr>
                    <td colspan="2">
                        Customer Details
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        @Model.Cart.Order.CustomerName
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;@Model.Cart.Order.CustomerEmail
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-phone"></span>&nbsp;@Model.Cart.Order.CustomerPrimaryContactPhone
                    </td>
                </tr>
            </table>
            @if (Model.Couriers != null && Model.Couriers.Count > 0)
            {
                if (Model.SpecialDelivery)
                {
                    <table class="table table-bordered-custom table-responsive">
                        <tr>
                            <td colspan="2">
                                Courier/Shipping Information
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Courier Name:
                            </th>
                            <td>
                                Schoombee and Son Delivery (deliver within 48 hours)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Email Address:
                            </th>
                            <td>
                                <span class="glyphicon glyphicon-pencil"></span>&nbsp;info@schoombeeandson.co.za
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Contact Number:
                            </th>
                            <td>
                                <span class="glyphicon glyphicon-phone"></span>&nbsp;083 680 8780
                            </td>
                        </tr>
                    </table>
                }
                else
                {

                    if (Model.Couriers.Count > 1)
                    {
                        <div>Please note that we have assigned more than one courier to deliver your order.</div>
                    }

                    foreach (Courier courier in Model.Couriers)
                    {
                        <table class="table table-bordered-custom table-responsive">
                            <tr>
                                <td colspan="2">
                                    Courier/Shipping Information
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Courier Name:
                                </th>
                                <td>
                                    @courier.CourierName
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Email Address:
                                </th>
                                <td>
                                    <span class="glyphicon glyphicon-pencil"></span>&nbsp;@courier.MainContactEmailAddress
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Contact Number:
                                </th>
                                <td>
                                    <span class="glyphicon glyphicon-phone"></span>&nbsp;@courier.MainContactTelephoneNumber
                                </td>
                            </tr>
                        </table>
                    }

                }
            }

        </div>
        <div class="col-sm-6">
            <table class="table table-bordered-custom table-responsive">
                <tr>
                    <td colspan="2">
                        Order Information
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(c => Model.Cart.Order.OrderNumber)
                    </th>
                    <td data-label="Order:">
                        @Html.DisplayFor(c => Model.Cart.Order.OrderNumber)
                    </td>
                </tr>
                <tr>
                    <th>
                        Preferred Delivery Date
                    </th>
                    <td>
                        @string.Format("{0:f}", Model.Cart.Order.DeliveryDate)
                    </td>
                </tr>
                <tr>
                    <th>Delivery Address <span class="glyphicon glyphicon-home"></span>&nbsp; </th>

                    <td>
                        <span style="white-space :pre-line" aria-hidden="true">@Model.Cart.Order.DeliveryAddress</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 well">
            @using (Html.BeginForm("LockOrder", "ShoppingCart", FormMethod.Post))
            {
                @Html.AntiForgeryToken();
                <div style="font-size:20px">To proceed to payment please tick this checkbox which confirms that you have read and acknowledge our <a data-id="@Url.Action("TermsAndConditionsModal", "Home")"
                     class="conditionClass freemarket-link">terms and conditions (here)</a>: </div>
                <div class="col-sm-offset-3">@Html.EditorFor(m => m.TermsAndConditions, new { htmlAttributes = new { @class = "form-control" } })</div>
                <div>@Html.ValidationMessageFor(c => c.TermsAndConditions, "", new { @class = "text-danger" })</div>
                <span class="icon-input-btn"><span class="glyphicon glyphicon-lock"></span> <input type="submit" value="Confirm" class="btn btn-success" /></span>
            }
        </div>
        <div class="col-sm-6">
            <table class="table table-bordered-totals well well-banner">
                <tr>
                    <td colspan="2">
                        Total Costs
                    </td>
                </tr>
                <tr>
                    <td class="col-sm-2 text-right"><strong>Sub-Total:</strong></td>
                    <td class="col-sm-2 text-right"><strong>@string.Format("{0:C}", Model.Cart.Order.SubTotal)</strong></td>
                </tr>
                <tr>
                    <td class="col-sm-2 text-right"><strong>Shipping:</strong></td>
                    <td class="col-sm-2 text-right"><strong>@string.Format("{0:C}", Model.Cart.Order.ShippingTotal)</strong></td>
                </tr>
                <tr>
                    <td class="col-sm-2 text-right"><strong style="font-size: 24px">Total:</strong></td>
                    <td class="col-sm-2 text-right"><strong style="font-size: 24px">@string.Format("{0:C}", Model.Cart.Order.TotalOrderValue)</strong></td>
                </tr>
            </table>
        </div>
    </div>
</div>

@Html.Partial("_TermsAndConditionsContainer")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}