@using FreeMarket.Model
@model ThankYouViewModel
@{
    ViewBag.Title = "Thank You";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

@if (Model.TransactionStatus == 1)
{
    <h1 class="text-center">Order Payment Successful</h1>
}
else
{
    <h1 class="text-center">Order Payment Not Successful</h1>
}

<hr />

<div id="parent" class="well well-modal">
    <div class="text-center">
        <img src="~/Content/Images/ramLogo.jpg" alt="Schoombee and Son" />
    </div>

    @if (Model.TransactionStatus == 0)
    {
        <div style="font-size:18px">
            Your order could not be processed due to external system failure. You can visit the link below and try again in 10 minutes.
        </div>
        <div class="text-center">
            @Html.ActionLink("Go back to Shopping Cart", "Cart", "ShoppingCart")
        </div>
    }
    else if (Model.TransactionStatus == 1)
    {
        <div style="font-size:18px">
            Thank you! Your payment has been approved and we will process it shortly. An email has been sent to you with the order details. You may also view your order history by clicking on the link below.
        </div>
        <div class="text-center">
            @Html.ActionLink("View Order History", "ViewOrderHistory", "Manage")
        </div>
    }
    else if (Model.TransactionStatus == 2)
    {
        <div style="font-size:18px" class="text-danger">
            The transaction was declined. You may try again by returning to the shopping cart and going through the checkout process again.
        </div>
        <div class="text-center">
            @Html.ActionLink("Go back to Shopping Cart", "Cart", "ShoppingCart")
        </div>
    }
    else if (Model.TransactionStatus == 3 || Model.TransactionStatus == 4)
    {
        <div style="font-size:18px" class="text-danger">
            You cancelled the payment process. You may try again by returning to the shopping cart and going through the checkout process again.
        </div>
        <div class="text-center">
            @Html.ActionLink("Go back to Shopping Cart", "Cart", "ShoppingCart")
        </div>
    }
    else if (Model.TransactionStatus == 999)
    {
        <div style="font-size:18px" class="text-danger">
            It is possible that the transaction did not complete correctly. Please contact support.
        </div>
        <div class="text-center">
            @Html.ActionLink("Go back to Shopping Cart", "Cart", "ShoppingCart")
        </div>
    } 
</div>

