<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Schoombee And Son</title>
    <link rel="shortcut icon" href="siteIcon.ico" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryunobtrusive")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrapValidator")
    @Scripts.Render("~/bundles/animsition")
    @Scripts.Render("~/bundles/morris")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div>
                    <img src="~/Content/Images/logoSmall.png" />
                    @Html.ActionLink("Schoombee & Son", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })                  
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Products
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Premium Nuts", "Index", "Product", new { area = "" }, null)</li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Suppliers
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Our Suppliers", "", "", new { area = "" }, null)</li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Couriers
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Our Couriers", "", "", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Delivery Options", "DeliveryOptionsInfo", "Home", new { area = "" }, null)</li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Contact Us
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Contact Us", "Contact", "Home", new { area = "" }, null)</li>
                        </ul>
                    </li>
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 well-banner well-sm text-center">
            <span style="font-size:60px; font-family:'Edwardian Script ITC'">Schoombee & Son</span>@*&nbsp;<img src="~/Content/Images/ramLogo.jpg" width="64" height="90" />*@
        </div>
    </div>

    <div class="navbar-fixed-bottom">
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success alert-dismissable text-center">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                <span class="sr-only"></span>@TempData["message"]
            </div>
        }
        else if (TempData["errorMessage"] != null)
        {
            <div class="alert alert-warning alert-dismissable text-center">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                <span class="sr-only"></span>@TempData["errorMessage"]
            </div>
        }
    </div>

    <div id="bodyMain" class="container body-content">
        <script type="text/javascript">
            $("#bodyMain").addClass('animsition');
        </script>
        <noscript>
            <div class="alert alert-warning alert-dismissable text-center">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="sr-only"></span><span class="glyphicon glyphicon-warning-sign text-center" style="font-size: 22px">Javascript is disabled in your browser. Please enable it to use this site.</span>
            </div>
        </noscript>
        
        @RenderBody()
        <hr />
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - Schoombee & Son</p>
            <div id="parent" class="center_div well">
                <div>
                    <img src="~/Content/Images/PayGate.png" />
                    <img src="~/Content/Images/visa.png" />
                    <img src="~/Content/Images/MasterCard.png" />
                </div>
            </div>
        </footer>

    </div>

    <script type="text/javascript">

        $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
        });

        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 8000);

        $(document).ajaxStart(function () {
            $("#loadingDiv").show();
        });

        $(document).ajaxStop(function () {
            $("#loadingDiv").hide();
        });

        $('.dropdown').hover(
            function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn();
            },
            function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut();
            }
        );

        $('.dropdown-menu').hover(
            function () {
                $(this).stop(true, true);
            },
            function () {
                $(this).stop(true, true).delay(200).fadeOut();
            }
        );

        $(document).ready(function () {
            $(".animsition").animsition({
                inClass: 'zoom-in-sm',
                outClass: 'zoom-out-sm',
                inDuration: 1500,
                outDuration: 800,
                linkElement: '.animsition-link',
                // e.g. linkElement: 'a:not([target="_blank"]):not([href^="#"])'
                loading: true,
                loadingParentElement: 'body', //animsition wrapper element
                loadingClass: 'animsition-loading',
                loadingInner: '', // e.g '<img src="loading.svg" />'
                timeout: false,
                timeoutCountdown: 5000,
                onLoadEvent: true,
                browser: ['animation-duration', '-webkit-animation-duration'],
                // "browser" option allows you to disable the "animsition" in case the css property in the array is not supported by your browser.
                // The default setting is to disable the "animsition" in a browser that does not support "animation-duration".
                overlay: false,
                overlayClass: 'animsition-overlay-slide',
                overlayParentElement: 'body',
                transition: function (url) { window.location.href = url; }
            });
        });

        (function ($) {
            var $window = $(window),
                $html = $('#parent');

            function resize() {
                if ($window.width() > 600) {
                    return $html.addClass('center_div');
                }

                $html.removeClass('center_div');
            }

            $window
                .resize(resize)
                .trigger('resize');
        })(jQuery);

    </script>

    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)

</body>
</html>
