<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="google-site-verification" content="WzaASP_shQ02dbXiA_4xlF91Tc3WHAVNb1jivz44qu8" />
    <meta name="msvalidate.01" content="7C1F84CC34B954E18BC5468DE2846E93" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overberg Trading Post</title>
    <link rel="shortcut icon" href="siteIcon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryunobtrusive")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrapValidator")
    @Scripts.Render("~/bundles/animsition")
    @Scripts.Render("~/bundles/morris")
    @Scripts.Render("~/bundles/bootstrap")

</head>
<body>
    <header class="masthead">
        
    </header>

    <div class="container" id="banner">
        <div class="row">
            <div class="col-md-12 text-center">
                <img class="img-responsive center-block" src="~/Content/Images/Trading Post Logo.png" />
            </div>
        </div>
    </div>

    <div>
        <nav role="navigation" class="navbar navbar-default navbar-static-top navbar-custom" id="topnavbar">
            <div class="container">

                <!-- Title -->
                <div class="navbar-header pull-left">
                    <a href="@Url.Action("Departments", "Product")">
                        <img class="img-rounded img-thumbnail" src="@Url.Content("~/Content/Images/logoSmall.png")" alt="Overberg Trading Post" title="Buy" />
                    </a>
                </div>

                <div class="collapse navbar-collapse navbar-header pull-left">

                    <ul class="nav navbar-nav pull-right">
                        <li>
                            <a class="dropdown-toggle navbar-brand" data-toggle="dropdown" href="#">
                                Overberg Trading Post
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Shop", "Departments", "Product", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Delivery Options", "DeliveryOptionsInfo", "Home", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Contact Us", "Contact", "Home", new { area = "" }, null)</li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse navbar-right pull-right">
                    @Html.Partial("_LoginPartial")
                </div>

                <!-- 'Sticky' (non-collapsing) right-side menu item(s) -->
                <div class="navbar-header pull-right">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <span id="cartItemsPartial" class="glyphicon glyphicon-shopping-cart" aria-hidden="true" onclick="window.location = '@Url.Action("Cart", "ShoppingCart")'">Cart(@Html.Action("GetItemsCount", "ShoppingCart"))</span>
                            </a>
                            <ul class="dropdown-menu dropdown-cart well hidden-xs hidden-sm" role="menu">
                                <li><a style="color:white" class="btn btn-xs btn-success" href="@Url.Action("Cart", "ShoppingCart")/">Go to Cart</a></li>
                                @Html.Action("SmallCartBody", "ShoppingCart")
                            </ul>

                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    
    @if (System.Web.Configuration.WebConfigurationManager.AppSettings["specialMessage"] == "true")
    {
        @Html.Action("SpecialMessage", "Home"); 
    }

    <div class="navbar-fixed-bottom">
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success alert-dismissable text-center">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                <span class="sr-only"></span>@TempData["message"]
            </div>
        }
        else if (TempData["errorMessage"] != null)
        {
            <div class="alert alert-warning alert-dismissable text-center">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                <span class="sr-only"></span>@TempData["errorMessage"]
            </div>
        }
    </div>

    <div id="bodyMain" class="container body-content">
        <script type="text/javascript">
            $("#bodyMain").addClass('animsition');
        </script>
        <noscript>
            <div class="alert alert-warning alert-dismissable text-center">
                <button type="button" class="close"><span aria-hidden="true"></span></button>
                <span class="sr-only"></span><span class="glyphicon glyphicon-warning-sign text-center" style="font-size: 22px">&nbsp;&nbsp; Javascript is disabled in your browser. Please enable it to use this site.</span>
            </div>
        </noscript>
        
        @RenderBody()
        <hr />
        <footer>
            <p class="text-center" style="font-weight:bold">&copy; @DateTime.Now.Year - Overberg Trading Post</p>
            <div class="text-center">@Html.ActionLink("Privacy", "Privacy", "Home", null, new { @class = "freemarket-link", @style = "color:black" })</div>
            
            <div class="row text-center">
                <a href="@Url.Action("TermsAndConditions", "Home")" data-id="@Url.Action("TermsAndConditionsModal", "Home")"
                   class="conditionClass freemarket-link"><span style="color:black" aria-hidden="true">&nbsp; Terms and Conditions</span></a>
            </div>

            <div id="parent" class="center_div text-center">
               @* <div class="text-center">Our payment partners:</div>*@

                @Html.Partial("_PaymentPartners")
                
            </div>
            
        </footer>

        <div class="modal fade" id="EditModal" tabindex="-1" role="dialog">
            <div id='EditContainer'>
            </div>
        </div>

    </div>

    <script type="text/javascript">

        $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
        });

        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 8000);

        $(document).ajaxStart(function () {
            $("#loadingDiv").show();
        });

        $(document).ajaxStop(function () {
            $("#loadingDiv").hide();
        });

        $('.dropdown').hover(
            function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn();
            },
            function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut();
            }
        );

        $('.dropdown-menu').hover(
            function () {
                $(this).stop(true, true);
            },
            function () {
                $(this).stop(true, true).delay(200).fadeOut();
            }
        );

        $(document).ready(function () {
            $(".animsition").animsition({
                //inClass: 'zoom-in-sm',
                //outClass: 'zoom-out-sm',
                inClass: 'fade-in-up-sm',
                outClass: 'fade-out-up-sm',
                inDuration: 1500,
                outDuration: 800,
                linkElement: '.animsition-link',
                // e.g. linkElement: 'a:not([target="_blank"]):not([href^="#"])'
                loading: true,
                loadingParentElement: 'body', //animsition wrapper element
                loadingClass: 'animsition-loading',
                loadingInner: '', // e.g '<img src="loading.svg" />'
                timeout: false,
                timeoutCountdown: 5000,
                onLoadEvent: true,
                browser: ['animation-duration', '-webkit-animation-duration'],
                // "browser" option allows you to disable the "animsition" in case the css property in the array is not supported by your browser.
                // The default setting is to disable the "animsition" in a browser that does not support "animation-duration".
                overlay: false,
                overlayClass: 'animsition-overlay-slide',
                overlayParentElement: 'body',
                transition: function (url) { window.location.href = url; }
            });
        });

        (function ($) {
            var $window = $(window),
                $html = $('#parent');

            function resize() {
                if ($window.width() > 600) {
                    return $html.addClass('center_div');
                }

                $html.removeClass('center_div');
            }

            $window
                .resize(resize)
                .trigger('resize');
        })(jQuery);

        $(document).ready(function () {
            $('.conditionClass').click(function (evt) {
                evt.preventDefault();
                var urlId = $(this).data('id');
                $.ajax({
                    url: urlId,
                    cache: false
                }).done
                (function (data) {
                    $('#EditContainer').html(data);
                });
                $('.modal-content').empty();
                $('#EditModal').removeData('bs.modal');
                $('#EditModal').modal('show');
            });
        });

        $('#topnavbar').affix({
            offset: {
                top: $('#banner').height()
            }   
        });	

    </script>

    

    @RenderSection("scripts", required: false)

</body>
</html>
