@using Microsoft.AspNet.Identity
@using FreeMarket.Models

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        //var userWithClaims = (System.Security.Claims.ClaimsPrincipal)User;
        //var fullName = userWithClaims.Claims.First(c => c.Type == "Name");

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink(User.FullName() + " - My Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="@Url.Action("", "")/"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true">Cart</span></a>
    </li>
</ul>
