@using FreeMarket.Models
@model ProductReviewsCollection

@if (Model != null && Model.Reviews.Count != 0)
{
    <table class="table table-responsive">

        @foreach (ProductReview review in Model.Reviews)
        {
            string formattedDate = review.Date.HasValue
                    ? review.Date.Value.ToLongDateString()
                    : "<not available>";
            <tr>
                <td><strong>On @formattedDate&nbsp;<span class="text-info">@review.Author</span> wrote:</strong></td>
            </tr>
            <tr>
                <td class="text-center"><label class="control-label">Quality</label><input id="@review.ReviewId" name="input-id" value="@review.StarRating" data-min="0" data-max="3" class="ratingDisplay rating-loading" data-show-caption="true" data-size="xs"></td>
            </tr>
            <tr>
                <td class="text-center"><label class="control-label">Price</label><input name="input-id" value="@review.PriceRating" data-min="0" data-max="3" class="ratingDisplay rating-loading" data-show-caption="true" data-size="xs"></td>
            </tr>
            <tr>
                <td style="white-space :pre-line" class="text-right">@review.ReviewContent</td>
            </tr>
        }

    </table>
}

<script language="javascript" type="text/javascript">
    $('.ratingDisplay').rating({ displayOnly: true, step: 1, stars: 3, clearCaption: 'Not yet rated' });
</script>