@using FreeMarket.Models
@model ProductReviewsCollection

@if (Model != null && Model.Reviews.Count != 0)
{ 
    <table class="table table-responsive">

        @foreach (ProductReview review in Model.Reviews)
        {
        string formattedDate = review.Date.HasValue
                ? review.Date.Value.ToLongDateString()
                : "<not available>";
            <tr>
                <td><strong>On @formattedDate&nbsp;<span class="text-info">@review.Author</span> wrote:</strong></td>
            </tr>
            <tr>
                <td class="text-center"><input id="@review.ReviewId" name="input-id" value="@review.StarRating" data-min="0" data-max="5" class="ratingDisplay rating-loading" data-show-caption="true" data-size="xs"></td>
            </tr>
            <tr>
                <td style="white-space :pre-line" class="text-right">@review.ReviewContent</td>
            </tr>
        }

    </table>

    <div id="loadBeforeRow">
    </div>
        
    <a id="loadMore" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-menu-down">Load More...</span></a>

}
else
{
    <text>
    No reviews for this product have been written yet.
    </text>
}

<script language="javascript" type="text/javascript">
    $('.ratingDisplay').rating({ displayOnly: true, step: 0.1, clearCaption: 'Not yet rated' });

    $(function () {

        var loadCount = 1;
        $("#loadMore").on("click", function (e) {
            e.preventDefault();

            var url = "/Product/LoadMoreReviews/";
            $.ajax({
                url: url,
                data: {
                    size: loadCount * @Model.PageSize,
                    productNumber: @Model.ProductNumber,
                    supplierNumber: @Model.SupplierNumber
                },
                cache: false,
                type: "POST",
                success: function (data) {

                    if (data.length !== 0) {
                        $(data.ModelString).insertBefore("#loadBeforeRow").hide().fadeIn(2000);
                    }

                    var ajaxModelCount = data.ModelCount - (loadCount * @Model.PageSize);

                    //alert("Message : \n" +
                    //    ajaxModelCount);

                    if (ajaxModelCount <= 0) {
                        $("#loadMore").hide().fadeOut(2000);
                    }

                },
                error: function (xhr, status, error) {
                    alert("Message : \n" +
                        "Reviews could not be loaded.");
                }
            });

            loadCount = loadCount + 1;
        });
    });

</script>