@using FreeMarket.Models
@model ProductCollection

@helper ListProduct(int i)
{
    <div>
        <table class="table table-bordered-custom table-responsive well">
            <tr class="well well-modal">
                <th class="col-sm-2"></th>
                <th class="col-sm-2"></th>
            </tr>
            <tr>
                <td class="text-center" colspan="2">
                    <img class="img-thumbnail" src="@Url.Action("RenderImage", "Image", new { id = Model.Products[i].MainImageNumber})" alt="@Model.Products[i].Description" title="@Model.Products[i].Description" />
                </td>
            </tr>
            <tr>
                <td class="text-center" colspan="2">
                    <div style="font-size: 24px; color:black"><i><strong>@Html.DisplayFor(model => Model.Products[i].Description) from @Html.DisplayFor(model => Model.Products[i].SupplierName)</strong></i></div>
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <div style="color:black"><u>Regular Price</u></div>  
                    <div style="font-size: 20px">@String.Format("{0:C}", Model.Products[i].PricePerUnit) &nbsp;per @Html.DisplayFor(model => Model.Products[i].Weight)&nbsp;KG</div>    
                    <div style="font-size: 16px"><i>South Africa</i></div>           
                </td>
                <td class="text-center">
                    <div style="color:black"><u>Special Offer</u></div>
                    <div style="font-size: 20px">@String.Format("{0:C}", Model.Products[i].SpecialPricePerUnit) &nbsp;per @Html.DisplayFor(model => Model.Products[i].Weight)&nbsp;KG</div>
                    <div style="font-size: 16px"><i>Struisbaai and La 'Agulhas Visitors Only</i></div>
                </td>
            </tr>
            
            <tr>
                <td class="text-center" colspan="2">
                    <a data-id="@Url.Action("ViewProductModal", "ShoppingCart")/@Model.Products[i].ProductNumber?supplierNumber=@Model.Products[i].SupplierNumber&amp;quantity=1"
                       class="btn btn-success editClass"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true">&nbsp;&nbsp;View Product</span></a>
                </td>
            </tr>

        </table>
    </div>
}

@if (Model.Products.Count == 1)
{
    <div class="row">
        <div class="col-sm-3">
        </div>
        @*<div class="col-sm-2">
        </div>*@
        <div class="col-sm-6">
            @ListProduct(0)
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-3">
        </div>
    </div>
}
else
{
    for (int i = 0; i < Model.Products.Count; i++)
    {
        <div class="row">
        @if (i < Model.Products.Count)
        {
            <div class="col-sm-3">                
                @ListProduct(i)
            </div>
        }
        @if (++i < Model.Products.Count)
        {
            <div class="col-sm-3">
                    @ListProduct(i)
            </div>
        }
        @if (++i < Model.Products.Count)
        {
            <div class="col-sm-3">
                @ListProduct(i)
            </div>
        }
        @if (++i < Model.Products.Count)
        {
            <div class="col-sm-3">
                @ListProduct(i)
            </div>
        }
        </div>
    }
}
