@using FreeMarket.Models
@model ProductCollection

@helper ListProduct(int i)
{
    <div>
        <div class="col-sm-9">
            <img class="img-thumbnail" src="@Url.Action("RenderImage", "Image", new { id = Model.Products[i].MainImageNumber})" alt="@Model.Products[i].Description" />
        </div>
    </div>

    <div>
        <table class="table">
            <tr>
                <td>
                    <strong>@Html.DisplayFor(model => Model.Products[i].Description)</strong>
                </td>
            </tr>
            <tr>
                <td>
                    @String.Format("{0:C}", Model.Products[i].PricePerUnit)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => Model.Products[i].Weight)&nbsp;@Html.DisplayFor(model => Model.Products[i].Size)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => Model.Products[i].SupplierName)
                </td>
            </tr>
            <tr>
                <td>
                    <a data-id="@Url.Action("CourierSelectionModal", "ShoppingCart")/@Model.Products[i].ProductNumber?supplierNumber=@Model.Products[i].SupplierNumber&amp;quantity=1"
                       class="btn btn-success editClass"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true">Add to Cart</span></a>
                </td>
            </tr>

        </table>
    </div>
}

@for (int i = 0; i < Model.Products.Count; i++)
{
    <div class="row">
    @if (i < Model.Products.Count)
    {
        <div class="col-sm-3 well">                
            @ListProduct(i)
        </div>
    }
    @if (++i < Model.Products.Count)
    {
        <div class="col-sm-3 well">
                @ListProduct(i)
        </div>
    }
    @if (++i < Model.Products.Count)
    {
        <div class="col-sm-3 well">
            @ListProduct(i)
        </div>
    }
    @if (++i < Model.Products.Count)
    {
        <div class="col-sm-3 well">
            @ListProduct(i)
        </div>
    }
    </div>
}
