@using FreeMarket.Models
@model ProductCollection

@{
    ViewBag.Title = "Overberg Trading Post - Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@helper ListProduct(int i)
{
    <div>
        <table class="table table-bordered-custom table-responsive well">
            <tr>
                <th class="col-sm-2"></th>
                <th class="col-sm-2"></th>
            </tr>
            <tr>
                <td class="text-center" colspan="2">
                    <img width="256" height="192" class="img-thumbnail img-responsive" src="@Url.Action("RenderImage", "Image", new { id = Model.Products[i].MainImageNumber})" alt="@Model.Products[i].Description" title="@Model.Products[i].Description" />
                </td>
            </tr>
            <tr>
                <td class="text-center" colspan="2">
                    <div style="font-size: 24px; color:white"><i><strong>@Html.DisplayFor(model => Model.Products[i].Description) - @Html.DisplayFor(model => Model.Products[i].SupplierName)</strong></i></div>
                </td>
            </tr>
            <tr>
                <td class="text-center" colspan="2">
                    @*<div style="color:black"><u>Regular Price</u></div>*@
                    @*@if (Model.Products[i].Weight < 1)
                    {
                        string weight = string.Format("{0}", Math.Round((Model.Products[i].Weight * 1000), 0).ToString());
                        <div style="font-size: 20px">@String.Format("{0:C}", Model.Products[i].PricePerUnit) &nbsp;per @weight&nbsp;Grams</div>
                    }
                    else
                    {
                        <div style="font-size: 20px">@String.Format("{0:C}", Model.Products[i].PricePerUnit) &nbsp;per @Html.DisplayFor(model => Model.Products[i].Weight)&nbsp;KG</div>
                    }*@

                    <div style="font-size: 20px">@String.Format("{0:C}", Model.Products[i].PricePerUnit)</div>

                    @if (Model.Products[i].DepartmentName == "Snacking Nuts")
                    {
                        <div style="font-size:small"><u>Free Delivery in Struisbaai, L'Agulhas and Suiderstrand</u></div>
                    }
                </td>
                @*<td class="text-center">
                        <div style="color:black"><u>Special Offer</u></div>
                        <div style="font-size: 20px">@String.Format("{0:C}", Model.Products[i].SpecialPricePerUnit) &nbsp;per @Html.DisplayFor(model => Model.Products[i].Weight)&nbsp;KG</div>
                        <div style="font-size: 16px"><i>Struisbaai and L'Agulhas Visitors Only</i></div>
                    </td>*@
            </tr>

            <tr>
                <td class="text-center" colspan="2">
                    <a href="@Url.Action("ViewProduct", "ShoppingCart")/@Model.Products[i].ProductNumber?supplierNumber=@Model.Products[i].SupplierNumber&amp;quantity=1" data-id="@Url.Action("ViewProductModal", "ShoppingCart")/@Model.Products[i].ProductNumber?supplierNumber=@Model.Products[i].SupplierNumber&amp;quantity=1"
                       class="btn btn-success editClass"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true">&nbsp;&nbsp;View Product</span></a>
                </td>
            </tr>

        </table>
    </div>
}

<br />

<div class="container">
    @if (Model.Products.Count > 0)
    {
        <h2 class="text-center">@Model.Products[0].DepartmentName</h2>
    }
    <div class="col-sm-12">
        @if (Model.Products.Count == 1)
        {
            <div class="row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-6">
                    @ListProduct(0)
                </div>
                <div class="col-sm-2">
                </div>
                <div class="col-sm-3">
                </div>
            </div>
        }
        else if (Model.Products.Count == 2)
        {
            <div class="row">
                <div class="col-sm-2">

                </div>
                <div class="col-sm-4">
                    @ListProduct(0)
                </div>

                <div class="col-sm-4">
                    @ListProduct(1)
                </div>
                <div class="col-sm-2">

                </div>
            </div>
        }
        else if (Model.Products.Count == 3)
        {
            <div class="row">
                <div class="col-sm-4">
                    @ListProduct(0)
                </div>
                <div class="col-sm-4">
                    @ListProduct(1)
                </div>
                <div class="col-sm-4">
                    @ListProduct(2)
                </div>
            </div>
        }
        else
        {
            for (int i = 0; i < Model.Products.Count; i++)
            {
                <div class="row">
                    @if (i < Model.Products.Count)
                    {
                        <div class="col-sm-4">
                            @ListProduct(i)
                        </div>
                    }
                    @if (++i < Model.Products.Count)
                    {
                        <div class="col-sm-4">
                            @ListProduct(i)
                        </div>
                    }
                    @if (++i < Model.Products.Count)
                    {
                        <div class="col-sm-4">
                            @ListProduct(i)
                        </div>
                    }
                </div>
            }
        }

    </div>
    <div class="col-sm-12">
        <div class="row text-center">
            @Html.ActionLink("Back to Categories", "Departments", "Product", null,  new { @class = "freemarket-link" })
        </div>
    </div>
</div>

<div id="loadingDiv" style="display:none;"></div>

@Html.Partial("_CourierContainer")

<script type="text/javascript">
    $(document).ready(function()
    {
        if (navigator.appName == "Opera")
        {
            $('#EditModal').removeClass('fade');
        }
    });
</script>

